<div class='container mx-auto px-4'>
  <form action='/admin/blog/new' method='POST'>
    <div class="form-item">
      <label for='title'>Title:</label>
      <input class='form-control input' type='text' id='title' name='title' required />
    </div>

    <div class="form-item">
      <label for='description'>Description:</label>
      <textarea
        class='form-control input'
        id='description'
        name='description'
        required
      ></textarea>
    </div class="form-item">

    <div class="form-item">
      <label for='imageUrl'>Image URL:</label>
      <input class='form-control input' type='text' id='imageUrl' name='imageUrl' />
    </div>

    <div class="form-item actions">
      <button type='button' class='btn btn-text'>Cancel</button>
      <button type='submit' class='btn btn-primary'>Create Blog</button>
    </div>
  </form>
</div>