<header class='d-flex flex-row text-white px-4 justify-content-between'>
  <div class='d-flex flex-row align-items-center'>
    <div class='header-logo d-inline'>
      <h1 class='d-inline text-contrast'>HauTrank2</h1>
    </div>
    <nav class='d-inline space-x-4 color-contrast' style="margin-left: 4rem;">
      <a href='{{#unless (eq page 'home')}}/{{/unless}}' class="hover:underline {{#if (eq page 'home')}}active color-secondary{{/if}}">Home</a>
      <a href='{{#unless (eq page 'blog')}}/blog{{/unless}}' class="hover:underline {{#if (eq page 'blog')}}active color-secondary{{/if}}">Blogs</a>
      <a href='{{#unless (eq page 'admin/blog')}}/admin/blog{{/unless}}' class="hover:underline {{#if (eq page 'admin/blog')}}active color-secondary{{/if}}">Blog Management</a>
    </nav>
  </div>
  <div class='col'></div>
</header>