@import 'variables'; // Import variables

input,
textarea {
  &.input {
    border: $thick-md solid $border-color;
    padding: $size-xs $size-md;
    border-radius: $size-xs;
    color: $primary-color;

    &:hover {
      border-color: $primary-color;
    }

    &:focus-visible {
      outline: $thick-xs solid $primary-color; /* Removes default focus outline */
    }
  }
}

form {
  .form-item {
    display: grid;

    &:not(:first-child) {
      margin-top: $size-md;
    }

    &.actions {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: $size-md;
    }
  }

  label {
  }

  .form-control {
    margin-top: $size-xs;
  }

  .form-error {
    color: $danger-color;
  }
}

.space-x-0-5 {
  > * + * {
    margin-left: 0.5 * $size-xs;
  }
}

.space-x-1 {
  > * + * {
    margin-left: 1 * $size-xs;
  }
}

.space-x-2 {
  > * + * {
    margin-left: 2 * $size-xs;
  }
}

.space-x-3 {
  > * + * {
    margin-left: 3 * $size-xs;
  }
}

.space-x-4 {
  > * + * {
    margin-left: 3 * $size-xs;
  }
}

// Similarly for vertical spacing (space-y)
.space-y-1 {
  > * + * {
    margin-top: 1 * $size-xs;
  }
}

.space-y-2 {
  > * + * {
    margin-top: 2 * $size-xs;
  }
}

.space-y-3 {
  > * + * {
    margin-top: 3 * $size-xs;
  }
}
