// Define individual color maps
$primary-colors: (
  base: hsl(198, 100%, 70%),
  light: hsla(200, 82%, 89%, 0.699),
  dark: hsl(198, 100%, 29%),
);

$secondary-colors: (
  base: #eaac8b,
  light: #dfbba8,
  heavy: rgb(248, 89, 3),
);

$danger-colors: (
  base: #e56b6f,
);

// Neutral colors can also be mapped separately
$neutral-colors: (
  0: #000000,
  // Black
  1: rgb(38, 38, 38),
  // Very dark gray
  2: rgb(64, 64, 64),
  // Dark gray
  3: rgb(89, 89, 89),
  // Gray
  4: rgb(115, 115, 115),
  // Medium gray
  5: rgb(140, 140, 140),
  // Light gray
  6: rgb(166, 166, 166),
  // Light-medium gray
  7: rgb(191, 191, 191),
  // Lighter gray
  8: rgb(217, 217, 217),
  // Very light gray
  9: rgb(242, 242, 242),
  // Near white
  10: #ffffff,
  // White
);

$border-color: #dbdbdb;

$sizes: (
  xxs: 2px,
  xs: 4px,
  md: 8px,
  lg: 16px,
  xl: 32px,
  xxl: 48px,
);

$thickness: (
  xs: 0.8px,
  md: 1.6px,
  lg: 2.4px,
);
