$primary-color: #355070;
$primary-color-light: #3d618d;

$secondary-color: #eaac8b;
$secondary-color-light: #dfbba8;
$secondary-color-heavy: rgb(248, 89, 3);

$danger-color: #e56b6f;
// Hex Codes: #355070 // #6d597a // #b56576 // #e56b6f // #eaac8b
$neutral: #000000; // Black
$neutral-1: rgb(38, 38, 38); // Very dark gray
$neutral-2: rgb(64, 64, 64); // Dark gray
$neutral-3: rgb(89, 89, 89); // Gray
$neutral-4: rgb(115, 115, 115); // Medium gray
$neutral-5: rgb(140, 140, 140); // Light gray
$neutral-6: rgb(166, 166, 166); // Light-medium gray
$neutral-7: rgb(191, 191, 191); // Lighter gray
$neutral-8: rgb(217, 217, 217); // Very light gray
$neutral-9: rgb(242, 242, 242); // Near white
$neutral-10: #ffffff; // White

$contrast: white;
$border-color: #dbdbdb;

$size-xxs: 2px;
$size-xs: 4px;
$size-md: 8px;
$size-lg: 16px;
$size-xl: 32px;
$size-xxl: 48px;

$thick-xs: 0.8px;
$thick-md: 1.6px;
$thick-lg: 2.4px;
