@import 'variables'; // Import variables
@import 'components';
@import 'custome-bs';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout for header, main, and footer */
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  a {
    color: inherit;
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }
}

header {
  background-color: $primary-color;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    a {
      &:hover {
        text-decoration: underline;
      }
      &.active {
        &:hover {
          text-decoration: none;
          cursor: auto;
        }
      }
    }
  }
}

main {
  margin-top: 64px;
  width: 100vw;
  padding: 32px 0;
}

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

.color-contrast {
  color: $contrast;
}
