@import 'variables'; // Import variables
@import 'variables'; // Import variables
@import 'components';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout for header, main, and footer */
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  background-color: $primary-color;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    a.active {
      &:hover {
        text-decoration: none;
        cursor: auto;
      }
    }
  }
}

main {
  margin-top: 64px;
  width: 100vw;
  padding: 32px 0;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}
